#container {
  max-width: 400px;
  margin: auto;
  padding: 20px;
  text-align: center;
}
.form-item {
  margin-bottom: 15px;
}
label {
  display: block;
  margin-bottom: 5px;
}
input[type="text"],
input[type="password"] {
  width: calc(100% - 20px);
  padding: 10px;
  margin-bottom: 10px;
}
button {
  padding: 10px 20px;
  cursor: pointer;
}