<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Blank
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Blank</ion-title>
    </ion-toolbar>
  </ion-header>

  <div id="container">
      <!-- Login Form -->
    <form id="login-form" (ngSubmit)="onLogin(loginForm)" #loginForm="ngForm">
      <div class="form-item">
        <label for="username">Usuario:</label>
        <input type="text" id="username" name="username" [(ngModel)]="username" required>
      </div>
      <div class="form-item">
        <label for="password">Contraseña:</label>
        <input type="password" id="password" name="password" [(ngModel)]="password" required>
      </div>
      <div class="form-item">
        <button type="submit">Iniciar sesión</button>
      </div>
    </form>
  </div>
</ion-content>
